.social {
    padding-top: 2rem;
    display: flex;

    li {
        display: block;
        margin-right: 0.5em; 
        border-radius: 100%;
        background:rgba(150, 150, 150, 0.8);
        color: #fff;
        font-size: 1.8rem;
        transition: background-color 0.3s ease-in;


           &:hover {
                background: var(--main-color);
            }
    }

    a {
        display: flex;
        height: 4rem;
        width: 4rem;
        line-height: 1;
        justify-content: center;    
        align-items: center;

        &:before{
            display: block;
            content: '';
            font-family: 'FontAwesome';
        }

        @include bp (mobile) {
            height: 3rem;
            width: 3rem;
            font-size: 1.4rem;
        }
    }

    @include bp (mobile) {
        padding-top: 1rem;
      }
    
}


.site-media .social li {
    background:rgba(255,255,255,0.8);
    color: #132930;
    transition: background-color 0.3s ease-in;


    &:hover {
        background-color:rgba(255,255,255,1);
    }
}


  

a.facebook:before {
    content: '\f39e';
}

a.twitter:before {
    content: '\f099';
}

a.instagram:before {
    content: '\f16d';
}

a.github:before {
    content: '\f09b';
}