.site {
    position: relative; 
}

.site-wrap {
    max-width: 80%;
    margin: 0 auto;
    
}


//HEADER

.site-header {
    background: #fff;

    .site-wrap {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0;
    }
    
    position: relative;
    flex-direction: column;

    .current-page > a,
    a:focus,
    a:hover {
    color: var(--main-color);
    }
}

//SITE-CONTENT

.site-content .site-wrap {
    position: relative;
    top: -3em;
}

.single-post {
    padding: 4rem;
}


//ENTRY 

.entry {
    background: var(--light-grey);
    margin-bottom: 2em;
    
    
    @include bp (desktop) {
        display: flex;
        height: 30em;
    }

    &-media {
        position: relative;
        overflow: hidden;
        
        @include bp(desktop) {
            flex: 0 0 50%;

        }

        &:before {
            padding-top: 80%;
            content: '';
            display: block;

            @include bp (mobile){
                padding-top: 60%;
            }
        }

        img {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.5s ease-in;

            @include bp (desktop) {
                width: auto;
                height: 100%;
            }
            
        }
    }

    &:hover img {
        transform: translate(-50%, -50%) scale(1.2);
    }

    &-content {
        padding: 3em;
        margin: 2em 0;
        background: #fff;
        box-shadow: 0 0 1.5em 0 rgba(50, 50, 50, 0.1);
        position: relative;
        right: 2em;
        z-index: 3;

        @include bp (mobile) {
            margin: 0 2em;
            right: 0;
            bottom:2em;
        }
    }

    &:hover, &-title, &-subtitle {
        color: var(--main-color);
        cursor: pointer;
    }

    &-title {
        padding-bottom: 0.3em;
    }

    &-subtitle{
        font-weight: var(--font-bold);
        margin-bottom: 1.5em;
    }

    &-content p, {
        color: var(--grey);
        font-size: 1.5em;
    }


    @include bp (mobile) {
        flex-direction: column;
    }
}

@include bp (desktop) {
    .entry:nth-child(even) {
        & .entry-media { order: 2; }
        
        & .entry-content { right: -2em;}
    }
}






//FOOTER

.site-footer {
    .site-wrap {
    padding: 1.5em 0;
    color: #ABB7B7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: color .3s ease-in;

        &:hover {
            color: rgb(77, 77, 77);
        }
    }


    .copyr > * {
        margin-right: 1em;
    }

}

.footer-text h4 {
    font-weight: normal;
}