.site-title {
    padding: 0;
}


.site-media {
    height: 85vh;
    overflow: hidden;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-color: rgba(19,41,48,.8);
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    // img {
    //     display: block;
    //     min-width: 50vw;
    //     height: auto;
    //     background-color: rgba(19,41,48,.8);
    //     position: absolute;
    //     top:50%; left: 50%;
    //     transform: translate(-50%, -60%);
    // }

    .site-wrap {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.8em;
        padding-right: 5em;
        z-index: 30;

        @include bp (mobile) {
            font-size: 1.3em;
        }
    }


    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background:rgba(19,41,48,.8);
        z-index: 10;
       
    }
}