.site-title {
    padding: 0;
}


.site-media {
    height: 65vh;
    overflow: hidden;
    position: relative;
    background-color: rgba(19,41,48,.8);
    background-position: center 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    // img {
    //     display: block;
    //     min-width: 50vw;
    //     height: auto;
    //     background-color: rgba(19,41,48,.8);
    //     position: absolute;
    //     top:50%; left: 50%;
    //     transform: translate(-50%, -60%);
    // }

    .site-wrap {
        height: 100%;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.4em;
        z-index: 30;
        

        @include bp (desktop) {
            padding-right: 5em;
        }
    }


    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background:rgba(19,41,48,.7);
        z-index: 10;
       
    }
}