.site-nav {
    font-size: 1.2em;  

    ul {
        margin-left: auto;
   

        @include bp(mobile) {
            display: none;
            position: absolute;
            z-index: 20;
            right: 0;
            top: 10%;
            width: 20rem;
            background: #fff;
            padding: 2rem;

            ul {
                display: block;
                position:static;
                margin-left: 1em;
                padding: 0;
            }
    }
           

    li {
        position: relative;
        display: block;
       
        a {
            display: block;
            padding: 0.5em 1em;
            font-weight: $font-bold;
            transition: color 0.2s ease-in;
        }

        &:hover > ul {
            display: block;
        }

    }
    }

    & > ul {
        @include bp(desktop) {
        display: flex;
        align-items: center;

            ul {
                display: none;
                position: absolute;
                z-index: 100;
                top: 100%;
                left: 0;
                width: 10em;
                background: rgba(#fff, 0.8);

            }
        }
    }
}


//NAV TOGGLE
.nav-toggle {
    position: absolute;
    pointer-events: none;
    display: none;

    

    &:checked + .site .site-header .site-nav >ul {
        @include bp(mobile) {
            display: block;
        }
        
    }

    &-label {
        padding: 0.5em 1em;
        margin-left: auto;

        @include bp(desktop) {
            display: none;
        }
    }


}
