@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,600,700,800&display=swap');

html {
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-main, sans-serif;
    color: $text-color;

    @include bp (mobile){
        font-size: 14px;
    }
    @include bp (phone){
        font-size: 12px;
    }
    @include bp (desktop){
        font-size: 16px;
    }
}

button, textarea,form, input, option, select,a {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5em;
    line-height: 1.2em;
    color: $dark-grey;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p {
    padding-bottom: 1.5em;
}

a {
    color:inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.site-media {
    color:#fff;

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.site-title {
    padding: 0;
}

img,
.entry .portrait {
    display: block;
    width: 100%;
    height: auto;
}




