:root {
    --font-main: 'Muli';
    --font-size: 14px;
    --line-height: 1.5;
    --font-bold: 600;

    //COLORS

    --main-color: #3498db;
    --text-color: #111;
    --light-grey:#eee;
    --grey:#555;
    --dark-grey:#2a2f36;
}

